.even{
    color:black;
    background-color:white;
}
.odd{
    color:white;
    background-color:black;
}

.home2{
    display:flex;
    align-items:center;
    margin:0 auto;
    flex-direction:column;
    //padding:30px;
    background-color:#4E6E81;
    /**FAF8F1*/
    background-image:url('\peakpx (1).jpg')
}
.blog{
    width:895px;
    padding:12px;
    margin-left:-360px;
    margin-bottom:20px;
    //background-color:black;
    transition: transform 0.3s ease-in-out;
    border-radius:2rem;
    height:209px;
}
.blogtitle{
    font-size: 35px;
    //color: white;
    text-align: left;
    margin-left: 20px;
    width: 564px;
    height: 112px;
    font-family: 'Jura', sans-serif;
}
.blogtitle:hover{
    text-decoration:underline;
}
.blogauthor{
    font-size:27px;
    color: #865DFF;
    text-align:left;
    margin-left:20px;
    font-family: 'Squada One', cursive;
}
.blogauthor:hover{
    text-decoration:underline;
}
h2{
    font-size:40px;
    color:black;/**#E80F88;*/
    margin-right:355px;
    background-color:white;
    border-radius:0.5rem;
    padding:5px;
    font-family: 'Bruno Ace SC', cursive;
}
.button{
    text-align:center;
    padding:20px;
    margin-top:-55px;
   
}
.btn{
    padding: 0.6vh;
    font-size: 2vh;
    border-radius: 1.5em;
}
.Link{
    text-decoration:none;
}
@media (min-width: 700px){

    .evenshadow:hover{
        transform: scale(1.05);
        outline: 3px solid black; 
    }
    .oddshadow:hover{
        transform: scale(1.05);
        outline: 3px solid white; 
    }
    .image {
        width: 263px;
        margin-left: 622px;
        border-radius: 13px;
        border: 2px solid white;
        margin-top: -144px;
        height: 195px;
      }
  .date {
    color: white;
    margin-top: 44px;
    margin-left: 10px;
    font-size: 21px;
    background-color: green;
    border: 1px solid white;
    padding: 4px 8px 4px 9px;
    border-radius: 9px;
    margin-bottom: 3px;
  }
  .keyword {
    color: white;
    margin-top: 41px;
    margin-left: 10px;
    font-size: 26px;
    background-color: green;
    border: 1px solid white;
    padding: 4px 8px 4px 9px;
    border-radius: 9px;
  }
  .date-keyword{
   display:flex;
   margin-top:-90px;
  }
  
}
  

@media (max-width: 600px) {

    .evenshadow{
        box-shadow: 10px 12px 7px black;
    }
    .oddshadow{
        box-shadow: 10px 12px 2px white;
    }
    h2{
        font-size: 4vh;
        color: black;
        background-color: white;
        border-radius: 1.5em;
        margin-left: 51vh;
        width: 26vh;
        border: 0.5vh solid black;
        margin-right: 51vh;
        padding: 0.5vh;
    }
    .blog {
        width: 83vw;
        padding: 4%;
        margin-left: -2vw;
        margin-bottom: 12%;
        //background-color: black;
        transition: transform 0.3s ease-in-out;
        border-radius: 2rem;
        height: 26vh;
      }
      .blogauthor {
        font-size: 3vh;
        color: #865DFF;
        text-align: left;
        margin-left: 1vh;
        width: 28vh;
      }
      .blogtitle{    
        font-size: 3vh;
        //color: white;
        text-align: left;
        font-style: Times New Roman;
        margin-left: 3vw;
        width: 49vw;
        height: 18vh;
        }

          
        .image
        {
            width: 32vw;
            margin-left: 53vw;
            border-radius: 1em;
            border: 0.6vw solid white;
            height: 17vh;
            margin-bottom: 8vh;
            margin-top: -22vh;
          }
          .keyword {
            color: white;
            margin-top: -3vh;
            margin-left: 0.4vh;
            font-size: 2.4vh;
            background-color: green;
            border-radius: 1vh;
            border: .2vh solid white;
            padding-right: 1.2vw;
            padding-left: 1vw;
            margin-bottom: 4.8vh;
          
          }
          .date
          {
            color: white;
            margin-top: -3.4vh;
            margin-left: 01vh;
            font-size: 2.4vh;
            background-color: green;
            padding: 0.30vh;
            border-radius: 1.2vh;
            margin-bottom: 4.4vh;
            border: 0.2vw solid white;
            display: inline-block;
    }
    .date-keyword {
        display: flex;
        flex-direction: row;
        width: 66vw;
      }
    .button{
        text-align: center;
        padding: 0.3vh;
        margin-top: -9vh;
        margin-left: 58vw;
        width: 30vw;
    }

    }      
