@media (min-width: 700px) {
 /** .row{
    animation:emerge 1.5s ease-in-out;
  }
  @keyframes emerge{
    0%{
      transform:translate(0,100%);
      opacity:0;
    }
    100%{
      transform:translate(0,0);
      opacity:1;
    }
  } */
  .reveal{
    position:relative;
    transform:translateY(25%);
    opacity:0;
    transition:all 2s ease;
  }
  .reveal.active{
    transform:translateY(0%);
    opacity:1;
  }


.row {
    display: flex;
    align-items: center;
    height: 44vw;
    background-color:black;
    border-bottom: 0.7vw solid white;
  }
  
  .row1{
    border-top: 0.7vw solid white;
  }

  
  .left {
    flex: 1;
    padding-left:5vw;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  h3{
    color: white;
    font-size: 3vw;
    text-shadow: 0px 0px 6px white;
    font-family: 'Source Code Pro', monospace;
  }

  p{
    font-size: 1.7vw;
    color:white;
    font-family: 'Righteous', cursive;
  }
  
  
  img {
    width: 42vw;
    padding-right: 2vw;
    border-radius: 25%;
    padding-top: 2vw;
    height: 28em;
  }
  .img-back1{
    border-radius: 29%;
    background-color: #E966A0;
    height: 33em;
    padding: 2%;
    margin-right: 4vw;
  }

  .img-back2{
    border-radius: 29%;
    background-color: #1B9C85;
    height: 33em;
    padding: 2%;
    margin-left: 4vw;
  }

  .img-back3{
    border-radius: 29%;
    background-color: orange;
    height: 33em;
    padding: 2%;
    margin-right: 4vw;
  }
}

  @media (max-width: 600px) {
    .row {
      display:flex;
      flex-direction: column-reverse;
    }
    .row1{
      margin-top:2vh;
    }

    .row2{
      flex-direction:column;
    }
    .left {
      width: 100%;
    }

  
    .right {
      display: flex;
      justify-content: center;
      padding-top: 3%;
      padding-bottom: 3%;
      box-shadow: 0px 5px 10px rgb(0, 0, 0);
      border-radius: 4%;
      width:92%
    }
    h3{
      display: flex;
      justify-content: center;
      
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    }
    p{
      display: flex;
      justify-content: center;
      color:grey;
    }
    .img-back1,.img-back2,.img-back3{
      background-color:white;
      border-radius: 4%;
    }

    .right1 {
      background-image: url("../images/orange.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .right2{
      background-image: url("../images/purple.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .right3 {
      background-image: url("../images/green.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .imgtop{
      display:flex;
      justify-content: center;
    }
    .h3_1{
      color:#EF5B0C;
    }
    .h3_2{
      color:#537FE7;
    }
    .h3_3{
      color:#3D8361;
    }
  }