@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#40a9ff;
    background-color:rgb(25, 28, 32);
    font-size:30px;
    font-family: 'DynaPuff', cursive;
    margin-left:-16px;
}

.banner-text {
    margin-left: 42px;
}
.trending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:rgb(25, 28, 32);
    margin-left:-16px;
}
.trending1{
    margin-left:42px;
    margin-top:20px;
    font-size:25px;
    color:#ffffff;
}
.trending2{
    margin-left:42px;
    font-size:18px;
    margin-bottom:20px;
    color:#808080;
}
