.create {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #006F8B;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  