.home2{
    display:flex;
    align-items:center;
    margin:0 auto;
    flex-direction:column;
    padding:30px;
    background-color:#FAF8F1;
}
.blog{
    width:1000px;
}
.blogtitle{
    font-size:45px;
    color:#E90064;
    text-align:center;
}
.blogauthor{
    font-size:27px;
    color: #865DFF;
    text-align:center;
}
.blog:hover{
    box-shadow:1px 3px 5px black;
    background-color:#E5FDD1;
}
h2{
    text-decoration:underline;
    font-size:40px;
    color:#E80F88;
}
.button{
    text-align:center;
    padding:20px;
}
.btn{
    padding:8px;
    font-size:17px;
}